.btn {
    margin: 20px;
    font-family: sansation, sans-serif;
    display: inline-block;
    padding: 15px 25px;
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    text-decoration: none;
    border-radius: var(--border-m);
    font-weight: 600;
    transition: transform 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-bg-color);
    transform: translateY(-8px) scale(1.02);
}
.btn-contact {
    padding: 15px 25px;
    background-color: var(--accent-color);
    color: var(--main-bg-color);
    text-decoration: none;
    border-radius: var(--border-m);
    font-family: sansation, sans-serif; 
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: normal; 
    transition: background-color 0.3s ease;
    
}
.btn-contact:hover {
    background-color: var(--highlight-color);
   transform: translateY(-8px) scale(1.02);
}